
.hamIcon{
  display: none;
}
.mobile{
  display: none;
}
.iconAndHam{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.headerConteiner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0, 30px, 0, 30px;
 
}

.subContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.inputContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: grey;
    padding-left: 9px;
    align-items: baseline;
    align-self: flex-end;
}
.imputMobile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    color: grey;
   
    align-items: baseline;
    align-self: flex-end;
}
.navBarContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: grey;
  align-items:center;
  font-size: 12px;
}

div.a 
{
  margin: 25px  60px 50px 75px;
}

}
div.z {
  margin: 25px  0px 0px 75px;

}
div.b{ 
  
  text-align: center;
  /*color: white;*/
}
div.c
{
   background-image: url("/home/webwerks/project1/images/inner_page_banner/who_we_help.jpg");
   background-repeat: no-repeat;
   background-size: cover;
  
}
div.d
{
   /*background-image: url("/home/webwerks/project1/images/clients_comment_bg.png");*/
   background-repeat: no-repeat;
   background-size: cover;
}
div.e{
  background-image: url("./images/hbg5.png");
   background-repeat: no-repeat;
   background-size: cover;
   height:auto;
   /*margin-top: 20px;*/
}
div.f{
  height: 40px;
  background-color: white;
}


#footer img{
    width: 100%;
}
.list-inline
{
   color : grey ;
}
p.a {
  font-style: italic;
}
p.italic {
  font-style: italic;
}
ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  font-size: -20px;
  }
  ul#horizontal-list li {
    display: inline;
  }
  .contain {
  position: relative;
  width: 100%;
  
}

.contain{
  position: relative;
  width: 100%;
  
}

.contain img {
  width: 100%;
  height: auto;
}

.btn {
   position: relative;
     top: 50%;
   /*loat: left;*/
    padding: 12px 24px;
  background-color:#a9ca25;
  border: none;
  cursor: pointer;
}
.btn1 {
   position: relative;
     top: 50%;
   border: 3px solid black;
   float: center;
    padding: 12px 24px;
    margin-bottom: 20px;
  background-color: #a9ca25;
  border: none;
  cursor: pointer;
}
.contain .btnn {
   position: relative;
     top: 50%;
   left: 50%;
   float: left;
    padding: 12px 24px;

  background-color: #a9ca25;
  border: none;
  cursor: pointer;
}

.contain .btn:hover {
  background-color: black;
}
.contain .btnn:hover {
  background-color: black;
}
ul {
  list-style-image: url('/home/webwerks/assignment/project/images/arrow1.png');
}
/*ul .arrow{
  list-style-image:url('/home/webwerks/assignment/project/images/icon8.png');
}*/
.container {

  
  }

.left-half {
  background-color: white;
  flex: 1;
  padding: 1rem;
}

.right-half {
  background-color: white;
  flex: 1;
  padding: 1rem;
}
/** {
  box-sizing: border-box;
}*/

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .mobile{
    display: block;
  }
  .imgOnDesk{
    display: none;
  }
  .subContainer{
    display: none;
  }
  .hamIcon{
    display: block;
  }
}
 
.btnn {
 position: relative;
   /*margin: 25px  60px 50px 75px;*/
   padding: 5% 5% 5% 5%;
  background-color:#a9ca25;
  text-align: center;
  border: none;
  cursor: pointer;
}

.col-sm-6 .btnn {
   position: relative;
   margin: 25px  60px 50px 75px;
  background-color:#a9ca25;
  border: none;
  cursor: pointer;
}

#btn {
     position: relative;
    margin :120px 60px 80px 70px;
  background-color:#a9ca25;
  border: none;
  cursor: pointer;
}
.btnn:hover {
  background-color: black;
}
.btn:hover {
  background-color: black;
}
.col-sm-6 .btn{
   position: relative;
   /*margin: 25px  60px 50px 75px;*/
  background-color:#a9ca25;
  border: none;
  cursor: pointer;
}
#btnn {
     position: relative;
    /*margin :120px 60px 80px 70px;*/
  background-color:#a9ca25;
  border: none;
  cursor: pointer;
      margin-bottom: 20px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:center;
    text-align:center;
    /*margin-right:-4px;*/
    
}
.responsive {
  max-width: 100%;
  height: auto;
}
/*.img-responsive{
  width: 100%;
  height: 400px;
  background-image: url('home/webwerks/assignment/project/images/blog_post_iamge_1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid red;
}*/
.button1:hover {
  background-color: green;
  color: white;
  }

  @media (max-width: 600px) {
  .cardAlign{
   
    flex-direction:column;


  }
  .marginMedia{
    margin-bottom: 14px;
  }
  .searchAlign{
    font-size: 4px;
    margin-left: 0px !important;

  }
}
@media screen and (max-width: 600px) {
.full{
  width: 100%;
}
  
}


@media (min-width: 600px) {
  .mediabtn{
    margin-bottom: 20px;
  }
  
}
@media (max-width: 600px) {
  .imgAlign{
      background-image: url('/home/webwerks/assignment/project/images/blog_post_iamge_1.jpg'); 
      background-repeat: no-repeat; 
      background-size: cover;
      height: auto;
    
      /*width: 100% ;*/

    /*flex-direction:column;*/

  }
}
.card-body
{
  padding: 0px !important;
}
/*#step
{
  background-color: white;
  color: #a8bf5e;
  border:5px solid yellowgreen;
  padding:7px;
  text-align: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}*/
/*.pop
{
  border:5px solid yellowgreen;
  background-color: white;
  color: grey;
  text-align: center;
  justify-content: center;
  display: flex;

}*/
#circle
{
  border-radius: 100%; 
  height: 50px;
  width:50px;
  background-color:white;
  color:#a8bf5e;
  border:5px solid yellowgreen;
  padding:7px;
}
#hoverLink:hover
{
  color: #a8bf5e;
}

#Read{
  background-color: white;
  border-color:#a8bf5e ; 
  color: #a8bf5e; 
  margin-top: 20px;
}
#ReadTwo
{
  background-color: white;
  border-color:#a8bf5e ; 
  color: #a8bf5e; 

}
#Read:hover{
  background-color: #a8bf5e;
  color: white;
}
#ReadTwo:hover{
  background-color: #a8bf5e;
  color: white;
}

#LatestCard{
 /* width: 18rem;*/
  margin: 10px; 
  border: none;
}
#download
{
  background:#70716b; 
  color:white; 
  border:white solid 2px; 
  border-radius: 6px;
  width: 150px;
}
#CenterAlign
{
  display:flex; 
  align-items: center; 
  justify-content:center
}
#SizeChange
{
  display:flex; 
  align-items: center; 
  justify-content: center;
  color:white; 
  font-size:15px;
}
#bookContact{
  background:#a9ca25; 
  height: 40px; 
  width: 150px; 
  font-size: 10px;
}
#listNew{
   color: white;
   font-size: 12px
}
#contactUs
{
  height:20px;
  width:30px;
}
#borderChange
{
  border:5px solid yellowgreen;
  padding:7px;
}
#section6{
  background-image: url('/home/webwerks/assignment/project/images/hbg2.png'); 
  background-repeat:  no-repeat ;
  width:100%;
  background-size: cover;

  background-size: cover;
  height: auto;
}
#searchPop{
  border: 4px solid yellowgreen; 
  font-size: 10px;
  margin-bottom: 50px;
  height: 40px;
   border-radius: 2px;
    text-align: center;

}
#section3
{
  background-image: url('/home/webwerks/assignment/project/images/blog_post_iamge_1.jpg'); background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
  width: 100%;
  display:flex; 
  margin: 0px 0px 0px 0px;
}
#callUs
{
  font-family:monospace;
  font-size: 13px;
  margin-left: 75px; 

}
.alignBot
{
  padding-bottom: 20px;
}
.gap{
  margin-bottom: 14px;
}
@media (max-width: 600px) {
.full{
  size: 100%;
}
}

